@import 'config';
@import 'utilities';

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Core styles
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: $light-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/** 
  SHARED COMPONENT STYLES
*/

// Main nav
#main-nav {
  @import 'hamburger';

  &.mobile {
    .menu-wrap {
      display: block;

      label {
        position: absolute;
        left: -10000px;
        width: 1px; 
        height: 1px;
        overflow: hidden;
      }
    }

    .nav-content {
      justify-content: center;

      ul {
        display: none;
      }
    }
  }

  background: #fff;

  .menu-wrap {
    display: none;
  }

  .container {
    // necessary for dropdown
    overflow: visible;
  }

  .nav-content {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 2.4rem;

      p:last-child {
        font-size: 1.5rem;
      }
    }

    ul {
      display: -webkit-flex;
      -webkit-justify-content: space-between;
      -webkit-align-items: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      word-wrap: nowrap;
      white-space: nowrap;

      li.dropdown span, li a {
        @extend %list-item-style;
      }

      li.dropdown {
        position: relative;

        ul.dropdown-content {
          display: none;
        }

        &:hover ul.dropdown-content {
          display: block;
          position: absolute;
          left: 0;
          text-align: left;
          min-width: 300px;
          z-index: 1;
          margin-top: 0.8rem;
          background: #fff;

          li {
            display: block;
            border-bottom: 1px dotted $medium-color;

            &:last-child {
              border-bottom: none;
            }
            
            a {
              display: block;
              @extend %list-item-style;
            }
          }
        }
      }
    }
  }
}

// Main footer
#main-footer {
  background: $light-color;
  padding-bottom: 0.2rem;

  .footer-content {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;

    div {
      flex: 1;
      padding: 0.5rem;
    }

    div:last-child {
      flex: 100%;
    }

    h3 {
      margin: 0.5rem 0;
    }

    a {
      text-decoration: underline;
    }
  }
}

/**
  HOMEPAGE STYLES
*/

// Showcase
#header-main {
  .showcase {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: url('../public/img/homepage/showcase.jpg') no-repeat center 30% / cover;
      opacity: 0.5;
      z-index: -1;
    }

    &-content {
      max-width: 450px;
      margin-right: 8rem;
      padding: 3rem 1rem;

      & > h2 { font-size: 4.5rem; }
      & > p { font-size: 2rem; }
    }
  }
}

// Section: Homepage Who We Are
#who {
  background: $primary-color;
  color: set-text-color($primary-color);
  display: flex;
  align-items: center;
  
  .who-text {
    flex: 2;

    p { 
      margin: 0.75rem 0;
    }
  }

  .who-img {
    flex: 3;
    background: url('../public/img/homepage/office.jpg') no-repeat center center / cover;
    height: 100%;
    display: none;
  }

  @supports(display: grid) {
    display: grid;
    grid-template-columns: 2fr 3fr; 
    grid-gap: 1rem;

    .who-img {
      display: block;
    }
  }
}

// Section: Homepage Practice Areas
#practice-areas {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    *:first-child {
      flex: 100%;
    }

    .practice-area {
      flex: 1;
      padding: 0.5rem;
    }

    .practice-area-content {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      i {
        flex: 0 0;
        color: #fff;
        background: $primary-color;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        line-height: 100px;
        transition: all 1.5s;

        &:hover {
          background: $secondary-color;
          transform: scale(1.05);
        }
      }

      div {
        flex-grow: 1;
      }

      h3 {
        margin: 0.3rem 0;
      }

      a {
        margin-top: 1rem;
      }
    }
  }
}

// Section: Homepage Credentials
#credentials {
  background: $medium-color;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  .credential {
    img {
      width: 60%;
    }
  }
}

/**
  ABOUT PAGE STYLES
*/

// Section: About Main
#about-main {
  padding: 2rem;

  & > * {
    margin-bottom: 1rem;
  }
}

// Section: Attorneys
#attorneys {
  background: $medium-color;

  .attorney {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $light-color;
    margin: 2rem 0;
    padding: 1rem;
    box-shadow: 2px 2px 5px 1px #999;

    &-img {
      display: block;
      width: 200px;
      height: 200px;
      margin: 0.5rem auto;
      border-radius: 50%;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;;
      align-items: center;

      h3 {
        font-size: 1.5rem;
      }

      h5 {
        color: #666;
        text-transform: uppercase;
      }

      p {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @supports(display: grid) {
      text-align: left;
      display: grid;
      grid-template-columns: minmax(0, 1fr) 3fr;
      grid-gap: 1rem;
      align-items: top;
      min-width: 0;
      min-height: 0;
    }
  }
}

// Section: Testimoninals
#testimonials {
  background: $primary-color;
  color: set-text-color($primary-color);

  h2 {
    padding-top: 1rem;
  }

  .testimonials-wrapper {
    display: flex;
    justify-content: space-evenly;

    .testimonial {
      position: relative;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-content {
        padding: 1rem 0;
      }

      &-attribution {
        text-align: right;
        font-style: italic;
      }
    }
  }
}

/**
  SHARED PRACTICE AREA PAGE STYLES
*/
.practice-area-page {
  background: $primary-color;
  color: set-text-color($primary-color);

  a {
    color: set-text-color($primary-color);
  }
}

.practice-area-content-wrapper {
  display: flex;

  #family-law, #probate, #personal-injury {
    flex: 2;
    margin-right: 1rem;
  }

  #sidebar {
    flex: 1;
    margin-top: 1.5rem;
    max-width: 250px;
  }

  div.card {
    margin: 2rem 0;
  }

  @supports(display: grid) {
    display: grid;
    grid-template-areas: 
      'main main sidebar'
      'main main sidebar';
    grid-gap: 2rem;

    #family-law, #probate, #personal-injury {
      flex: 0;
      margin-right: 0;
      grid-area: main;
    }

    #sidebar {
      flex: 0;
      grid-area: sidebar;
    }
  }
}

/**
  MEDIA PAGE STYLES
*/

//Section: YouTube Player
#youtube-player {
  h2 {
    padding-bottom: 1rem;
  }

  .video-button-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .video-button {
      margin-bottom: 0.75rem;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @supports(display: grid) {
      display: grid;
      align-items: center;
      grid-gap: 1rem;
      grid-template-areas:
        'column-left player column-right';
    }
  }

  .recusal-text {
    max-width: $max-width;
    margin: 0 auto;
    margin-top: 0.5rem;
  }

  #player {
    width: 640px;
    height: 390px;
    margin: 0 0.5rem;
  }

  @supports(display: grid) {
    #column-left {
      grid-area: column-left;
    }

    #player {
      grid-area: player;
      margin: 0;
    }

    #column-right {
      grid-area: column-right;
    }
  }
}

// Section: News Articles
#news-articles { 
  background-color: $primary-color;
  color: set-text-color($primary-color);

  h2 {
    margin-bottom: 1.25rem;
  }

  .news-articles-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
      flex: 45%;
      margin: 1rem;
    }

    .card-icon {
      align-self: flex-start;

      img {
        width: 4rem;
        height: 4rem;
      }
    }

    .card-content {
      h5 {
        display: none;
      }

      .card-heading {
        line-height: 1.1;
        margin-bottom: 0.25rem;
      }

      .card-text {
        margin-bottom: 0.7rem;
      }
    }
  }
}

// Section: Academic and Professional Papers
#academic-papers {
  .academic-papers-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .academic-papers-grid-item {
      flex: 50%;
      flex-grow: 0;
      padding: 1rem;

      a {
        padding: 0;
      }
    }
  }

  .list {
    li {
      padding: 0.6rem;
    }
  }
}

/**
  CONTACT PAGE
*/

// Section: Contact
#contact {
  background: $primary-color;
  color: set-text-color($primary-color);
  display: flex;

  .map {
    flex: 2;
    min-height: 500px;
    width: 100%;
  }

  .contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    & > * {
      padding: 0.75rem;
    }

    a {
      color: #fff;
    }
  }
}

@import 'mobile';